body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}
h5 {
    font-size: 14px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
}

button {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.recommended-movies {
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.recommended-movies .movie p {
    font-size: 14px; /* Adjust the value as needed */
}


.movie {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 200px;
    text-align: center;
    transition: 0.3s;
}

h2 {
    font-size: 24px; /* Adjust the value as needed */
}

.movie:hover {
    transform: translateY(-10px);
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 20%   !important ; 
}

